/.anjuta/default.profile
/.anjuta/session/anjuta.session
/.anjuta/session/dock-layout.xml
/.anjuta_sym_db.db
/Debug/Makefile
/Debug/config.h
/Debug/config.log
/Debug/config.status
/Debug/detectball-0.1.tar.gz
/Debug/libtool
/Debug/src/.deps/main.Po
/Debug/src/Makefile
/Debug/src/detectball
/Debug/src/main.o
/Debug/stamp-h1
/Optimized/Makefile
/Optimized/config.h
/Optimized/config.log
/Optimized/config.status
/Optimized/detectball-0.1.tar.gz
/Optimized/libtool
/Optimized/src/.deps/main.Po
/Optimized/src/Makefile
/Optimized/src/detectball
/Optimized/src/main.o
/Optimized/stamp-h1
/autom4te.cache/output.0
/autom4te.cache/output.1
/autom4te.cache/requests
/autom4te.cache/traces.0
/autom4te.cache/traces.1
/detectball.anjuta
/src/Makefile.am~
/src/main.cc~
/src/main.cpp~
